/* style applied to entire document */
* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica;
    padding: 10px;
    background-color: white;
}

/* style the header */
.header{
    background-color: #F1E3E4;
    text-align: center;
    padding: 20px;
}

.header h1{
    font-size: 50px;
}

.quote {
    font-style: italic;
    text-align: center;
    font-size: 15px;
    padding: 20px;
}

/* navigation bar container */
.topnav{
    overflow: hidden;
    background-color: #1C1D21;
}

/* navbar links */
.topnav a {
    float: left;
    display: block;
    color: #F1E3E4;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* links will chnage color on hover */
.topnav a:hover {
    background-color: #F1E3E4;
    color: #1C1D21;
}

/* create 2 equal columns that floast next to each other */
.column {
    float: right;
    width: 50%;
    padding: 30px;
}

/* clear floats after the columns */
.row::after {
    content: "";
    display: table;
    clear: both;
}

/* responsive layout - if a screen size shrinks, make the columns stack on top of eachother */
@media screen and (max-width: 600px) {
    .column{
        width: 100%;
    }
}

.button {
    background-color: #EAF5F6E2;
    color: #1C1D21;
    border: 1.5px solid #1C1D21;
    border-radius: 12px;

    text-align: center;
    text-decoration:solid;
    display: inline-block;
    font-size: 15px;
    padding: 12px 25px;

    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover{
    background-color: #1C1D21;
    color:#F1E3E4;
}

#pointsToAchievements {
    width: 100%;
    font-weight: lighter;
    font-size: 15px;
    border: 2px solid #ddd; 
}

#pointsToAchievements th{
    padding-top: 10px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #EAF5F6E2;
}

#pointsToAchievements td, #pointsToAchievements tr{
    border: 1px solid #ddd;
    padding: 4px;
    text-align: left;
}

